# Telegram Bot
TELEGRAM_BOT_TOKEN=

# Битрикс24
BITRIX24_WEBHOOK_URL=

# OpenAI
OPENAI_API_KEY=

# Сервер
PORT=3000

# Режим работы (demo / production)
MODE=demo

# Supabase
SUPABASE_URL=
SUPABASE_KEY=
